<!DOCTYPE html>
<html>
  <head>
   
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.css" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script> -->
    <script type="text/javascript" src="/javascripts/tui-grid.js"></script>
    <title>Data Grid Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/tui-grid.css' />
  <body>

    <div class='container'>
      <h2>테이블</h2>

   </div>

    <div id="grid" style="width:800"></div>

  </body>
<script type="text/javascript">
  
let datagrid = <%- data %>; // 데이터

//순서가 중요하다

  // 그리드 테마
 
 tui.Grid.applyTheme('striped', {
     grid: {
         border: '#ff8c00',
         text: '#a52a2a'
     },
     cell: {
         disabled: {
             text: '#17e6c8'
         }
     }
 });
 
/**
 * tui.grid 출력
 */

const grid = new tui.Grid({
  el: document.getElementById('grid'),    
  data: datagrid,
  // data: [{
  //   bodyserail:'bodyserail',
  //   prodcd:'prodcd',
  //   prodnm:'prodnm',
  //   prodparamlist:'prodparamlist'
  // }],
  scrollX: true,
  scrollY: true,
  pageOptions: {
			perPage: 5
		},
  rowHeaders: ['rowNum'],
  header: {
    height: 40
  },
  columns: [
    {
      header: 'bodyserail',
      name: 'bodyserail',
      width: 100
    },
    {
      header: 'prodcd',
      name: 'prodcd',
      width: 100
    },
    {
      header: 'prodnm',
      name: 'prodnm',
      width: 100
    }
  ]
});

  </script>
</html>
