<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tui-grid.css' />
        <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.css" />
    </head>
  <body>

    <div class='container'>
      <h2>테이블</h2>

   </div>

    <div id="grid" style="float:left;width:400;height:100%;"></div>

  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script>
<script src="/javascripts/tui-grid.js"></script>
<script type="text/javascript">
  
let datagrid = <%- JSON.stringify(data) %>; // 데이터
let datagrid2 = <%- JSON.stringify(data2) %>; // 데이터

//순서가 중요하다

  // 그리드 테마
 
 tui.Grid.applyTheme('default', {
     grid: {
         border: '#aaa',
         text: '#333'
     },
     cell: {
         disabled: {
             text: '#999'
         }
     }
 });
 
 // 그리드 테마
  tui.Grid.applyTheme('striped', {
     grid: {
         border: '#aaa',
         text: '#333'
     },
     cell: {
         disabled: {
             text: '#999'
         }
     }
 });

/**
 * tui.grid 출력
 */

const grid = new tui.Grid({
  el: document.getElementById('grid'),    
  data: datagrid.slice(0,5),
  // data: [{
  //   bodyserail:'bodyserail',
  //   prodcd:'prodcd',
  //   prodnm:'prodnm',
  //   prodparamlist:'prodparamlist'
  // }],
  scrollX: true,
  scrollY: true,
  pageOptions: {
			perPage: 5
		},
  rowHeaders: ['rowNum'],
  header: {
    height: 40
  },
  columns: [
    {
      header: 'bodyserail',
      name: 'bodyserail',
      width: 100
    },
    {
      header: 'prodcd',
      name: 'prodcd',
      width: 100
    },
    {
      header: 'prodnm',
      name: 'prodnm',
      width: 100
    }
  ]
});

  </script>
</html>
