<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascripts/tui-grid.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tui-grid.css' />
    </head>
  <body>

    <div class='container'>
      <h2>테이블</h2>

   </div>

    <div id="grid" style="float:left;width:100%;height:100%;" data-preset="striped"></div>

  </body>
          
  <script type="text/javascript">
  
  let datagrid = <%- data %>; // 데이터
  let datagrid2 = <%- data2 %>; // 데이터
  

  // 그리드 테마
    tui.Grid.applyTheme('default', 
    {
  grid: {
    background: '#fff',
    border: '#ccc',
    text: '#444'
  },
  selection: {
    background: '#4daaf9',
    border: '#004082'
  },
  toolbar: {
    border: '#ccc',
    background: '#fff'
  },
  scrollbar: {
    background: '#f5f5f5',
    thumb: '#d9d9d9',
    active: '#c1c1c1'
  },
  cell: {
    normal: {
      background: '#fbfbfb',
      border: '#e0e0e0'
    },
    head: {
      background: '#eee',
      border: '#ccc'
    },
    editable: {
      background: '#fbfbfb'
    },
    selectedHead: {
      background: '#d8d8d8'
    },
    focused: {
      border: '#418ed4'
    },
    disabled: {
      text: '#b0b0b0'
    },
    evenRow: {
      background: '#fbfbfb'
    },
    currentRow: {
      background: '#e0ffe0'
    }
  }
}
    );

/**
 * tui.grid 출력
 */

const grid = new tui.Grid({
  el: document.getElementById('grid'),    
  data: datagrid,
  // data: [{
  //   bodyserail:'bodyserail',
  //   prodcd:'prodcd',
  //   prodnm:'prodnm',
  //   prodparamlist:'prodparamlist'
  // }],
  scrollX: true,
  scrollY: true,
  rowHeaders: ['rowNum'],
  header: {
    height: 40
  },
  columns: [
    {
      header: 'bodyserail',
      name: 'bodyserail',
      width: 100
    },
    {
      header: 'prodcd',
      name: 'prodcd',
      width: 100
    },
    {
      header: 'prodnm',
      name: 'prodnm',
      width: 100
    },
    {
      header: 'prodparamlist',
      name: 'prodparamlist'
      

    }
  ]
});

  
  </script>
</html>
